<% include ../index1.ejs %>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"><%= title %></h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Trang thái bài viết</th>
                    <th>image album</th>
                    <th>video album</th>
                    <th>Tên album</th>
                    <th>Bày tỏ cảm xúc </th>
                    <th>Nội dung </th>
                    <th>Tên người thích </th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Tên</th>
                    <th>Trang thái bài viết</th>
                    <th>image album</th>
                    <th>video album</th>
                    <th>Tên album</th>
                    <th>Bày tỏ cảm xúc </th>
                    <th>Nội dung </th>
                    <th>Tên người thích </th>
                </tr>
                </tfoot>
                <tbody>
                <% personal_newslettern.forEach(function(item) { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.user_id %></td>
                        <td><%= item.privacy %></td>
                        <td><%= item.image_album %></td>
                        <td><%= item.video_alum %></td>
                        <td><%= item.name_album %></td>
                        <td><%= item.react %></td>
                        <td><%= item.content %></td>
                        <td><%= item.user_react %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../index2.ejs %>
