<% include ../index1.ejs %>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"><%= title %></h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>nội dung cuộc gọi</th>
                    <th>thời gian thực hiện</th>
                    <th>Trạng thái</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>nội dung cuộc gọi</th>
                    <th>thời gian thực hiện</th>
                    <th>Trạng thái</th>
                </tr>
                </tfoot>
                <tbody>
                <% mycalln.forEach(function(item) { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.name_call %></td>
                        <td><%= item.receiving_time %></td>
                        <td><%= item.status %></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../index2.ejs %>
