<% include ../index1.ejs %>
<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800"><%= title %></h1>
<div class="card shadow mb-4">
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                <tr>
                    <th>STT</th>
                    <th>Ảnh</th>
                    <th>Tên có trong danh bạ</th>
                    <th>SĐT</th>
                    <th>Người dùng cập nhật</th>
                    <th>Hành động</th>
                </tr>
                </thead>
                <tfoot>
                <tr>
                    <th>STT</th>
                    <th>Ảnh</th>
                    <th>Tên có trong danh bạ</th>
                    <th>SĐT</th>
                    <th>Người cập nhật</th>
                    <th>Hành động</th>
                </tr>
                </tfoot>
                <tbody>
                <% contactsn.forEach(function(item) { %>
                    <tr>
                        <td><%= item.id %></td>
                        <td><%= item.image %></td>
                        <td><%= item.username %></td>
                        <td><%= item.phone %></td>
                        <td><%= item.user_id %></td>
                        <td></td>
                    </tr>
                <% }); %>
                </tbody>
            </table>
        </div>
    </div>
</div>
<% include ../index2.ejs %>
